<% if @executed == 1 %>
  <div class="contenedor">
    <div class="epocas">
      <div class="alert alert-primary" role="alert">
        <h2>Época seleccionada</h2>
        Desde <strong><%= @startDate.to_datetime.strftime("%d/%m/%Y %H:%M") %></strong> hasta <strong><%= @endDate.to_datetime.strftime("%d/%m/%Y %H:%M") %></strong>
        <br>
        Tiempo <strong><%= ((@endDate.to_datetime - @startDate.to_datetime) * 24 * 60).to_i %></strong> minutos
      </div>
      <br>
    </div>
    <div id="mapa_madrid" class="izquierda"></div>
    <div class="derecha shadow p-3 mb-5 bg-white rounded">
      <p>Leyenda</p>
      <div id="leyenda"></div>
    </div>
    <div class="separador"></div>
  </div>
  <script>
      var coords = <%= raw @speeds %>;

      function initMap() {
          // Primero arreglamos la leyenda
          loadLeyend();

          // Cargamos el mapa
          var centroMadrid = { lat: 40.4428378, lng: -3.6865051 };
          mapa = new google.maps.Map(document.getElementById('mapa_madrid'), {
              zoom: 12,
              center: centroMadrid
          });
          coords.forEach(function(each) {
              var reprojected = proj4(projections['ETRS89'], projections['wgs84'], [each[2], each[3]]);
              addMarker(reprojected[1], reprojected[0], each[0], each[1], each[4]);
          });
      }

      google.maps.event.addDomListener(window, 'load', initMap);
  </script>
<% end %>
<div class="logEjecucion">
  <a class="btn btn-primary" data-toggle="collapse" href="#executionLog" role="button" aria-expanded="false" aria-controls="executionLog">
    Log de ejecución
  </a>
  <div class="collapse logEjecucion" id="executionLog">
    <div class="card card-body">
      <pre><%= @execution %></pre>
    </div>
  </div>
</div>